*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    /* font-family: 'Langar', cursive; */
    font-family: 'Finger Paint', cursive;
}
a{
    text-decoration: none;
}
p{
    color: rgb(230, 243, 43);
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 2px 2px;
    display: block;
    margin: 2px 2px;
    align-items: center;
   }
   
.container{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}
#hero{
background-image:url(../img/hero.jpg);
background-position:top center;
background-size: cover;
position: relative;
z-index: 1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: 50px;
}
#hero::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:#cdaeae;
    opacity: .1;
    z-index: -1;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:transparent;
    animation: text_b .5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_b_s .5s ease forwards;
    animation-delay: 3s;
}
 
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(94, 16, 31);
    animation: text_box 1s ease;
    animation-delay: 1s;

}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero .cta{
    display: inline-block;
    color: crimson;
    border:2px solid crimson;
    background-color: transparent;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2px 2px;
    border-radius: 8px;
    transition-property: background-color,color;
}
#hero .cta:hover{
    color: white;
    background-color: crimson;
}
 
@keyframes text_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%
    {
        width: 0;
        left:100%;
    }
}
 @keyframes text_b{
     100%{
         color: white ;
     }
 }
 @keyframes text_b_s{
     100%{
         color: rgb(235, 200, 103) ;
     }
 }

 /* section2 */

 .services img{
     height: 40px;
     display: block;
     width: 40px;
     margin:auto;
     align-items: center;
     justify-content: center;
 }

 #services .services{
     flex-direction: column;
     text-align: center;
     margin: 0 auto;
     padding: 100px 0;
     max-width: 1500px;
 }

 .section-title{
     font-size: 4rem;
     font-weight: 400;
     color: rgb(201, 188, 188);
     margin-bottom: 10px;
     text-transform: uppercase;
     text-align: center;
     letter-spacing: .2rem;
 }
 .section-title span{
    color: crimson;}

#services .service-top p{
     color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    text-align: center;
    flex-basis: 80%;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;

}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image:url(../img/img1.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after {
content:'';
position:absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: #efe5e5;
opacity:0.1;
z-index: -1;
}
#services .service-item h2{
font-size: 2rem;
    color: blanchedalmond;
    margin-bottom: 10px;
    text-transform: uppercase;
}
  

/* Project */
#projects img{
    height:  20%;
    width: 20%;
}
#projects .projects {
    flex-direction: column;
    padding: 10px 0;
    max-width: 1200px;
    margin: 0 auto;
}
#projects .projects header h1{
    margin-bottom: 20px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .projects-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:80%;
    margin:20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info{
    padding: 28px 22px;
    left: -479px;
    position: relative;
    display: block;
    margin: 3px 482px;
    border-radius: 2px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: -moz-linear-gradient(rgb(124, 112, 112));
    color: cyan;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
/* #projects .project-info p{

}
#projects .project-img{
    flex-basis: 50%;
    height: 200px;
    overflow: hidden;

} */
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top:10px;
}
